@font-face {
	font-family: 'CodeLight';
	src: url(../fonts/codelight.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(../font/OpenSans-Light.ttf);
}
body {
	background-color: rgba(56, 103, 1, 0.98);
	padding: 0;
	margin: 0;
}
#body-div {
	background-color: #F1F1F1;
	text-align: center;
	padding: 5%;
}
#shot-app-id {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 4em;
	text-shadow: black 1px 1px 1px;
	text-align: center;
}
.menu {
	display: inline-table;
	width: 35%;
	margin-bottom: 5%;
	margin-top: 1%;
}
.menu .menu-item {
	float: left;
	margin: 0;
	border-bottom: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	color: rgba(56, 103, 1, 0.98);
	background-color: #DFDFDF;
	padding: 2% 3%;
	width: 43.7%;
	font-weight: bolder;
}
.menu .menu-item:hover {
	background-color: #C7C7C7;
	cursor: pointer;
}
.menu .menu-item a {
	text-decoration: none;
	color: rgba(56, 103, 1, 0.98);
	cursor: pointer;
}
.menu .menu-item a:visited {
	text-decoration: none;
	color: rgba(56, 103, 1, 0.98);
}
.menu-title {
	background-color: rgba(56, 103, 1, 0.98);
	border-right: 1px solid #c8c8c8;
	margin: 0%;
	padding: 1%;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 2em;
	text-shadow: black 1px 1px 1px;
}
#buy-service-logo {
	float: right;
	width: 10%;
}
.footer-powered {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin: 1% 1%;
}
.footer-powered a {
	color: white;
}
@media (max-width: 1075px) {
	.menu .menu-item {
		font-size: 1.4em;
	}
}
@media (max-width: 1035px) {
	.menu .menu-item {
		width: 43.5%;
	}
}
@media (max-width: 843px) {
	.menu {
		width: 40%;
	}
	.menu-title {
		font-size: 1.7em;
	}
	.menu .menu-item {
		font-size: 1.4em;
	}
}
@media (max-width: 662px) {
	.menu {
		margin-bottom: 8%;
		margin-top: 3%;
		width: 100%;
	}
	#buy-service-logo {
		float: none;
		width: 30%;
	}
}
